#header, #footer {
  padding: 5px 0px 5px 0px;
  text-align: center;
  background-color: pink;
  color: white
}

h1 {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

#map {
  height: 85%;
  width: 80%;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white
}
