#header {
  height: 90px;
  text-align: center;
  background-color: black;
  color: white
}

#navbar {
  background-color: blue;
  text-align: center;
}

#map {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black
}
